
body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    background-color: rgb(196, 224, 231);
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
::after{
    box-sizing: border-box;
}
.img-code
{
    max-width: 100%;
    height: auto;
}
main{
   background-color: var(--color white);
    max-width: 320px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsl(0, 0%, 0.25);
    text-align: center;
    margin: 1.7rem;
    
}
img{
    border-radius: 0.7rem;

}
h1{
    font-size: 1.75rem;
    line-height: 1.275;
    margin-top: 1.2rem;
    color: var(--color dark blue);
}
p{
    line-height: 1.2rem;
    color: grey;
    margin: 0.75rem;

}